<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>User login and session page</title>
<link rel="stylesheet" type="text/css"
	href="/static/css/style.css"/>
</head>
<body>
<div class="form-container">
<p class="form-header"> Login </p>
<form method="POST">
<label>User Name:</label>
<input type="text" name="username"><br>
<label>Password:</label>
<input type="password" name="password"><br>
<input type="submit" value="Login">
</form>
</div>
<a href="/signup">sign Up</a>
<hr>
<br><%= msg %>
</body>
</html>